@keyframes move {
    0% {
      left:0;
      opacity: 0;  
        
    }

    100% {
        left:90%
    }
}

@keyframes car {
    0% {
        left:0;
    }
    50% {
        transform: rotate(-45deg);
    }

    100% {
        transform: translate(400px);
    }
}

.ball::after {
    content: '';
    width: 100px;
    height: 100px;
    clip-path: circle();
    background: blue;
    position: absolute;
    animation: move 3s infinite;
    animation-direction: alternate;
    
}



.icon img {
    width: 200px;
    top: 150px;
    position: absolute;
    animation: car 3s infinite;
}

.btn button{
    position: absolute;
    top: 400px;
    padding: 10px;
    border: 1px none ;
    color: rgb(216, 179, 13);
    background: black;
    transition: .5s ease;
    font-size: 24px;
    left: 50%;
    transform: translate(-50%);
    
}

button:hover {
    background: rgb(59, 58, 58);
    border-radius: 10px;
    
}